@use '../variables' as var;

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    &--primary {
        color: var.$textColor;
        background-color: var.$purple;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
    
}